<div class="container">
    <div class="back">
        <mat-icon routerLink="/login" id="back">arrow_back</mat-icon>
      </div>
      <h1></h1>
    <div class="row">
       <div class="header">
        <img src="../../assets/images/white.png" alt="" height="50">
       </div> 
       <div class="title">
        <h1>Hi <strong>{{data}} </strong> Welcome</h1>
       </div>
       <div class="para">
        <p>Explore the app,Find some peace of mide </p>
       </div>
       <div class="para">
        <p>to prepare for meditation</p>
       </div>
       <div class="image">
        <img src="../../assets/images/dev.png" alt="" height="300">
       </div>
       
       <div class="button">
        <button mat-button routerLink="/home" >GET STARTED</button>
       </div>
        
    </div>
</div>