<div class="cont">
<div class="row">
    <div class="col-md-3" id="col">
       <h2>Daily Meditation</h2>
      <div class="hr"><hr></div>
      <h3>Sleep</h3>
      <h3>Relax</h3>
      <h3>Calm</h3>
      <h3>Mental</h3>
    </div>
    <div class="col-md-3" id="col">
        <h2>Sleep Meditation</h2>
        <div class="hr"><hr></div>
        <h3>Peaceful Sleep</h3>
      <h3>Gratitude sleep</h3>
      <h3>Night Gratitude</h3>
      <h3>Deep Sleep</h3>
    </div>
    <div class="col-md-3" id="col">
        <h2>Relax Meditation</h2>
        <div class="hr"><hr></div>
        <h3>Sleep Relaxation</h3>
      <h3>Mental Relax</h3>
      <h3>Nature Relax</h3>
      <h3>Sky Walk</h3>
    </div>
    <div class="col-md-3" id="col">
        <h2>Calm Meditation</h2>
        <div class="hr"><hr></div>
        <h3>Mental Health</h3>
      <h3>Mind Therapy</h3>
      <h3>Heaven</h3>
      <h3>Mentally Relax</h3>
    </div>
</div>
<hr>

<div class="footer">
    <h2 class="text-center">© 2023 Breathings. All Rights Reserved!</h2>
    <p class="text-center">Privacy Policy  Cookie Policy</p>
</div>

</div>

