.example-card {
    max-width: 400px;
    height: 230px;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button button{
    width: 390px;
  }

  mat-card{
    margin-top: 20px;
  }

  #img{
    height: 150px;
  }

  mat-card-title{
    font-family:'Times New Roman', Times, serif;
  }
  
  #img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  mat-card:hover #img {
    opacity: 0.3;
  }
  
  mat-card:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  #button{
    height: 50px;
  }

  @media screen and (max-width:780px) {
    .example-card {
        max-width: 300px;
        height: 250px;
      }

      .row{
        display: grid;
        grid-template-columns: auto auto;
      }
  }

  @media screen and (max-width:480px) {
    .example-card {
        max-width: 300px;
        height: 250px;
      }

      .row{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
      }
  }