
<app-header></app-header>
<div class="cont">
<!-- <mat-icon>arrow_back_ios</mat-icon> -->
<div class="heading">
    <h1> <mat-icon id="icon5">settings</mat-icon> Settings</h1>
    
</div>
<hr>
<div class="row" id="row2">
    <div class="account">
        <a routerLink="/account" id="a">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">account_circle</mat-icon> 
            </div>
            <div class="col-md-2">
                <span id="span">Account</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-icon id="icon2">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </a>
    </div>
    <div class="account">
        <a routerLink="/manage" id="a">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">notifications_active</mat-icon>
            </div>
            <div class="col-md-2">
                <span id="span">Manage Subscription</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-icon id="icon2">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </a>
    </div>
    <div class="account">
        <a routerLink="/policy" id="a">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">https</mat-icon> 
            </div>
            <div class="col-md-2">
                <span id="span">Privacy Policy</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-icon id="icon2">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </a>
    </div>
    <div class="account">
        <a routerLink="/terms" id="a">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">gavel</mat-icon> 
            </div>
            <div class="col-md-2">
                <span id="span">Terms & Conditions</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-icon id="icon2">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </a>
    </div>
   
    <div class="account">
        <a routerLink="/reminders" id="a">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">date_range</mat-icon>
            </div>
            <div class="col-md-2">
                <span id="span">Reminders</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-icon id="icon2">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </a>
    </div>
    <div class="account">
        <a routerLink="/about" id="a">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">brightness_auto</mat-icon>
            </div>
            <div class="col-md-2">
                <span id="span">About</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-icon id="icon2">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </a> 
    </div>
    <div class="account">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">get_app</mat-icon>
            </div>
            <div class="col-md-3">
                <span id="span">Download over cellular</span>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
   
    </div>
    <div class="account">

        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">brightness_2</mat-icon>
            </div>
            <div class="col-md-2">
                <span id="span">Enable Dark Mode</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
    
    </div>
    <div class="account">
        <a routerLink="/support" id="a">
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">headset_mic</mat-icon>
            </div>
            <div class="col-md-2">
                <span id="span">Support</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-icon id="icon2">arrow_forward_ios</mat-icon>
            </div>
        </div>
    </a>
    </div>
    <div class="account">
        
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon">not_interested</mat-icon>
            </div>
            <div class="col-md-2">
                <span id="span">Do not disturb</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
                
    </div>
    <div class="account">
       
        <div class="row" id="row">
            <div class="col-md-1">
                <mat-icon id="icon" matBadge="1" matBadgeColor="warn">notifications</mat-icon>
            </div>
            <div class="col-md-2">
                <span id="span">Push Notification</span>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
  
    </div>
</div>
</div> 

<app-footer2></app-footer2>
