
    <app-header2></app-header2>
    <!-- <mat-dialog-content class="mat-typography"> -->
    <div class="row">
        <div class="heading">
        <h1><mat-icon>music_note</mat-icon> {{playList.name}}</h1>
        </div>
     
        <div class="image">
            <img src="{{playList.ipath}}" alt="" id="img">
        </div>
        
        <div class="para">
            <h1 class="text-white">{{playList.name}}</h1>
            <p class="text-white">William Parker</p>
        </div>
    
        <div class="song" *ngFor="let song of playList.song">
            <audio controls src="{{song}}"></audio>
            <!-- <audio controls src="../../assets/music/Breathing/Breathing1.mp3"></audio>
            <audio controls src="../../assets/music/Breathing/Breathing1.mp3"></audio> -->
        </div>
        <div class="icon">
            <mat-icon>favorite_border</mat-icon>
            <mat-icon>playlist_add</mat-icon>
            <mat-icon>alarm</mat-icon>
            <mat-icon>more_vert</mat-icon>
        </div>
    </div> 
    <!-- </mat-dialog-content> -->

    <app-footer2></app-footer2>