<app-header></app-header>

<div class="container">


    <div class="heading">
        <h1><mat-icon id="icon">notifications_active</mat-icon> Manage Subscription</h1> 
    </div>
    <hr>
<mat-tab-group animationDuration="1000ms">
  <mat-tab label="Community">
    <div class="community">
        <p>Get started with community. Enjoy free meditation at zero cost.</p>
        <strong>$0</strong>  <span>－ Free forever</span><br><br>
        <button mat-raised-button color="primary">EXPLORE NOW</button>
    </div>
  </mat-tab>
  <mat-tab label="Pro">
    <div class="community">
        <p>Get started with breathly pro and enjoy lots of more features of meditation.</p>
        <strong>$15</strong>  <span>/Month</span><br><br>
        <button mat-raised-button color="primary">BUY PRO</button>
    </div>
  </mat-tab>
  <mat-tab label="Premium">
    <div class="community">
        <p>Get started with breathly premium & enjoy the most advanced features of meditation, as well as the highest priority for support.</p>
        <strong>$23</strong>  <span>/Month</span><br><br>
        <button mat-raised-button color="primary">BUY PREMIUM</button>
    </div>
  </mat-tab>
</mat-tab-group>

</div>



<app-footer2></app-footer2>