<div class="main">
    <mat-card>
        <div class="row">
         <div class="col-md-1">
        <a routerLink="home3">
        <mat-icon id="icon1" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-card-content>Home</mat-card-content>
        </a>
         </div>
        <div class="col-md-1">
        <a routerLink="/sleep">
            <mat-icon id="icon2">brightness_2</mat-icon>
        <mat-card-content>Sleep</mat-card-content>
        </a>
    </div>
    <div class="col-md-1">
        <a routerLink="/meditation">
            <mat-icon id="icon3">spa</mat-icon>
        <mat-card-content>Meditation</mat-card-content>
        </a>
    </div>
    <div class="col-md-1">
        <a routerLink="/relax">
            <mat-icon id="icon4">library_music</mat-icon>
        <mat-card-content>Relax</mat-card-content>
        </a>
    </div>
    <div class="col-md-1">
        <a routerLink="/setting">
            <mat-icon id="icon5">settings</mat-icon>
        <mat-card-content>Settings</mat-card-content>
        </a>
    </div>
    
    </div>
      </mat-card>
    </div>