<div class="container">
    <div class="row">
      <div class="header">
        <img src="../../assets/images/white.png" alt="" height="70">
      </div>
      <div class="image">
      <img src="../../../assets/images/welcome333.png" alt="">
      </div>
      <div class="heading">
        <h1 class="text-center">Breathings</h1>
        <p class="text-center">Mindful Breathing app</p>
      </div>
      <!-- <div class="para">
        <p>Mindful Breathing app</p>
      </div> -->
      <a routerLink="/signin">
      <div class="button">
        <button mat-raised-button >Sign Up</button>
      </div>
    </a>
      <div class="footer">
        <p>Already have an account? <a routerLink="/login"><strong>Log In</strong></a></p>
      </div>
    
    </div>
  </div>
  
  