<div class="comp">
<app-header2></app-header2>
<mat-dialog-content class="mat-typography">
<div class="row"  style="background-image: url('{{data.img}}'); background-repeat: no-repeat; background-size: cover;">
    <div class="heading">
    <h1><mat-icon>music_note</mat-icon> Waterfall</h1>
    </div>
 
    <div class="image">
        <img src="../../assets/images/download.png" alt="" id="img">
    </div>
    
    <div class="para">
        <h1>{{data.name}}</h1>
        <p>William Parker</p>
    </div>

    <div class="song" *ngFor="let song of data.song">
        <audio controls src="{{song}}"></audio>
        <!-- <audio controls src="../../assets/music/Breathing/Breathing1.mp3"></audio>
        <audio controls src="../../assets/music/Breathing/Breathing1.mp3"></audio> -->
    </div>
    <div class="icon">
        <mat-icon>favorite_border</mat-icon>
        <mat-icon>playlist_add</mat-icon>
        <mat-icon>alarm</mat-icon>
        <mat-icon>more_vert</mat-icon>
    </div>
</div> 
</mat-dialog-content>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>