<app-header></app-header>
<div class="container">
    <div class="heading">
     <h1>  <mat-icon id="icon">account_circle</mat-icon>  Account</h1> 
    </div>
    <hr>

    <div class="row">
        <div class="col-md-1">
            <mat-icon id="icon">account_circle</mat-icon>
        </div>
        <div class="col-md-3">
            <h2>Your Name</h2>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-2">
          <h3 id="name">{{data}}</h3>
        </div>
        <div class="col-md-2">
            <mat-icon id="icon2">arrow_forward_ios</mat-icon>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <mat-icon id="icon">email</mat-icon>
        </div>
        <div class="col-md-3">
            <h2>Your Email id</h2>
        </div>
        <div class="col-md-3">
            
        </div>
        <div class="col-md-3">
          <h2>{{email}}</h2>
        </div>
        <div class="col-md-2">
            <mat-icon id="icon2">arrow_forward_ios</mat-icon>
        </div>
    </div>


    <div class="row">
        <div class="col-md-1">
            <mat-icon id="icon">logout_circle</mat-icon>
        </div>
        <div class="col-md-3">
            <h2>You'r signed in as</h2>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-2">
            <button id="button" mat-raised-button color="warn">Unvarified</button>
        </div>
        <div class="col-md-2">
            <mat-icon id="icon2">arrow_forward_ios</mat-icon>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <mat-icon id="icon">https</mat-icon> 
        </div>
        <div class="col-md-3">
            <h2>Change your password</h2>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-2">
            <mat-icon id="icon2">arrow_forward_ios</mat-icon>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <mat-icon id="icon">sync</mat-icon>
        </div>
        <div class="col-md-3">
            <h2>Sync with Google Fit</h2>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-2">
            <mat-slide-toggle></mat-slide-toggle>
        </div>
    </div>
</div>
<app-footer2></app-footer2>